{
  "openapi": "3.1.1",
  "info": {
    "title": "Waaru Developer API",
    "version": "2026-10-04",
    "description": "Source contract for this release; deployment requires release verification. Keys remain number-bound. Explicit workspace:* scopes cover all workspace contacts/static segments. All operations except instance discovery require a connected EXTERNAL_API number. Management and discovery scopes require an explicit grant; existing keys do not gain them. Unknown input fields are rejected. Canonical phone validation, custom-field catalog policies, template freshness/quality and messaging rules are runtime constraints in addition to the schema."
  },
  "servers": [
    {
      "url": "https://api.waaru.app"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/developer/instance": {
      "get": {
        "operationId": "getInstance",
        "summary": "get instance",
        "description": "Requires instance:read. Available even when the bound number is disconnected or not in EXTERNAL_API mode. apiAvailable reports connection and handler mode only, never permission to send. No credentials, provider identifiers or diagnostics are returned.",
        "x-waaru-scope": "instance:read",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceCapabilities"
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/developer/labels": {
      "post": {
        "operationId": "createLabel",
        "summary": "create label",
        "description": "Requires workspace:labels:manage. Body limit: 4096 bytes. Requires an explicitly granted management scope. Archive preserves historical assignments and membership, reserves the name, and rejects active or pinned dynamic-segment dependencies. Repeat archive is safe; creation has no idempotency key.",
        "x-waaru-scope": "workspace:labels:manage",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LabelInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "$ref": "#/components/schemas/LabelManaged"
                    }
                  },
                  "required": ["label"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listLabels",
        "summary": "list labels",
        "description": "Requires workspace:contacts:read.",
        "x-waaru-scope": "workspace:contacts:read",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Use nextCursor from the previous response; keep filters unchanged."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Label"
                      },
                      "maxItems": 100
                    },
                    "nextCursor": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["items", "nextCursor"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/developer/labels/{id}": {
      "patch": {
        "operationId": "updateLabel",
        "summary": "update label",
        "description": "Requires workspace:labels:manage. Body limit: 4096 bytes. Requires an explicitly granted management scope. Archive preserves historical assignments and membership, reserves the name, and rejects active or pinned dynamic-segment dependencies. Repeat archive is safe; creation has no idempotency key.",
        "x-waaru-scope": "workspace:labels:manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LabelInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "$ref": "#/components/schemas/LabelManaged"
                    }
                  },
                  "required": ["label"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/developer/labels/{id}/archive": {
      "post": {
        "operationId": "archiveLabel",
        "summary": "archive label",
        "description": "Requires workspace:labels:manage. Body limit: 4096 bytes. Requires an explicitly granted management scope. Archive preserves historical assignments and membership, reserves the name, and rejects active or pinned dynamic-segment dependencies. Repeat archive is safe; creation has no idempotency key.",
        "x-waaru-scope": "workspace:labels:manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmptyMutation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "$ref": "#/components/schemas/LabelManaged"
                    }
                  },
                  "required": ["label"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/developer/segments/{id}": {
      "patch": {
        "operationId": "updateSegment",
        "summary": "update segment",
        "description": "Requires workspace:segments:manage. Body limit: 4096 bytes. Requires an explicitly granted management scope. Archive preserves historical assignments and membership, reserves the name, and rejects active or pinned dynamic-segment dependencies. Repeat archive is safe; creation has no idempotency key.",
        "x-waaru-scope": "workspace:segments:manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "segment": {
                      "$ref": "#/components/schemas/SegmentManaged"
                    }
                  },
                  "required": ["segment"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getSegment",
        "summary": "get segment",
        "description": "Requires workspace:segments:read.",
        "x-waaru-scope": "workspace:segments:read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "segment": {
                      "$ref": "#/components/schemas/Segment"
                    }
                  },
                  "required": ["segment"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/developer/segments/{id}/archive": {
      "post": {
        "operationId": "archiveSegment",
        "summary": "archive segment",
        "description": "Requires workspace:segments:manage. Body limit: 4096 bytes. Requires an explicitly granted management scope. Archive preserves historical assignments and membership, reserves the name, and rejects active or pinned dynamic-segment dependencies. Repeat archive is safe; creation has no idempotency key.",
        "x-waaru-scope": "workspace:segments:manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmptyMutation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "segment": {
                      "$ref": "#/components/schemas/SegmentManaged"
                    }
                  },
                  "required": ["segment"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages": {
      "post": {
        "operationId": "sendMessage",
        "summary": "send message",
        "description": "Requires messages:send.",
        "x-waaru-scope": "messages:send",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9._:-]{1,128}$"
            },
            "description": "Persist one unique value per logical send. Same normalized recipient and content repeats acceptance; changed request returns409. Scope is workspace and number, including after key rotation."
          },
          {
            "name": "X-Waaru-Require-Authentication",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["true"]
            },
            "description": "Set to true to require an AUTHENTICATION template before persistence. This stricter mode is part of idempotency identity; use the same header when replaying a request."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessage"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedMessage"
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/{messageId}": {
      "get": {
        "operationId": "getMessage",
        "summary": "get message",
        "description": "Requires messages:read.",
        "x-waaru-scope": "messages:read",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": ["message"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversations": {
      "get": {
        "operationId": "listConversations",
        "summary": "list conversations",
        "description": "Requires messages:read.",
        "x-waaru-scope": "messages:read",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Use nextCursor from the previous response; keep filters unchanged."
          },
          {
            "name": "contactId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Search contact names and phone numbers, not message bodies."
          },
          {
            "name": "updatedSince",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Inclusive last-message time, not a general change-data stream."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Conversation"
                      },
                      "maxItems": 100
                    },
                    "nextCursor": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["items", "nextCursor"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversations/{conversationId}/messages": {
      "get": {
        "operationId": "listMessages",
        "summary": "list messages",
        "description": "Requires messages:read. Default newest first using before. since or after reads oldest first, using after for subsequent pages. before and after are mutually exclusive. since filters occurredAt; status changes to older messages require callbacks or direct reads.",
        "x-waaru-scope": "messages:read",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Use nextCursor from the previous response; keep filters unchanged."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 512
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "enum": ["inbound", "outbound"]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "received",
                "queued",
                "sent",
                "delivered",
                "read",
                "failed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      },
                      "maxItems": 100
                    },
                    "nextCursor": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["items", "nextCursor"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/media/{id}": {
      "get": {
        "operationId": "downloadMedia",
        "summary": "download media",
        "description": "Requires media:read.",
        "x-waaru-scope": "media:read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/developer/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "list contacts",
        "description": "Requires workspace:contacts:read.",
        "x-waaru-scope": "workspace:contacts:read",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Use nextCursor from the previous response; keep filters unchanged."
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContactRead"
                      },
                      "maxItems": 100
                    },
                    "nextCursor": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["items", "nextCursor"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "upsertContact",
        "summary": "upsert contact",
        "description": "Requires workspace:contacts:write.",
        "x-waaru-scope": "workspace:contacts:write",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpsert"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  },
                  "required": ["contact"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/developer/contacts/{id}": {
      "get": {
        "operationId": "getContact",
        "summary": "get contact",
        "description": "Requires workspace:contacts:read.",
        "x-waaru-scope": "workspace:contacts:read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "$ref": "#/components/schemas/ContactRead"
                    }
                  },
                  "required": ["contact"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateContact",
        "summary": "update contact",
        "description": "Requires workspace:contacts:write.",
        "x-waaru-scope": "workspace:contacts:write",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  },
                  "required": ["contact"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/developer/contacts/{id}/labels/{labelId}": {
      "put": {
        "operationId": "applyLabel",
        "summary": "apply label",
        "description": "Requires workspace:contacts:write.",
        "x-waaru-scope": "workspace:contacts:write",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          },
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelChange"
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeLabel",
        "summary": "remove label",
        "description": "Requires workspace:contacts:write.",
        "x-waaru-scope": "workspace:contacts:write",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          },
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelChange"
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/developer/segments": {
      "get": {
        "operationId": "listSegments",
        "summary": "list segments",
        "description": "Requires workspace:segments:read.",
        "x-waaru-scope": "workspace:segments:read",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Use nextCursor from the previous response; keep filters unchanged."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Segment"
                      },
                      "maxItems": 100
                    },
                    "nextCursor": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["items", "nextCursor"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSegment",
        "summary": "create segment",
        "description": "Requires workspace:segments:write.",
        "x-waaru-scope": "workspace:segments:write",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "segment": {
                      "$ref": "#/components/schemas/Segment"
                    }
                  },
                  "required": ["segment"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/developer/segments/{id}/members": {
      "get": {
        "operationId": "listMembers",
        "summary": "list members",
        "description": "Requires workspace:segments:read.",
        "x-waaru-scope": "workspace:segments:read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Use nextCursor from the previous response; keep filters unchanged."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      },
                      "maxItems": 100
                    },
                    "nextCursor": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["items", "nextCursor"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/developer/segments/{id}/members/{contactId}": {
      "put": {
        "operationId": "addMember",
        "summary": "add member",
        "description": "Requires workspace:segments:write.",
        "x-waaru-scope": "workspace:segments:write",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipChange"
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeMember",
        "summary": "remove member",
        "description": "Requires workspace:segments:write.",
        "x-waaru-scope": "workspace:segments:write",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipChange"
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/developer/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "list templates",
        "description": "Requires templates:read.",
        "x-waaru-scope": "templates:read",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Use nextCursor from the previous response; keep filters unchanged."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 512
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Template"
                      },
                      "maxItems": 100
                    },
                    "nextCursor": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["items", "nextCursor"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/developer/templates/{id}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "get template",
        "description": "Requires templates:read.",
        "x-waaru-scope": "templates:read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 191
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "template": {
                      "$ref": "#/components/schemas/TemplateDetail"
                    }
                  },
                  "required": ["template"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/developer/reports/activity": {
      "get": {
        "operationId": "getActivity",
        "summary": "get activity",
        "description": "Requires reports:read. Fixed seven UTC days. API calls belong to this key; callback summaries belong to its number. No message content or recipients.",
        "x-waaru-scope": "reports:read",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhook": {
      "get": {
        "operationId": "getWebhook",
        "summary": "get webhook",
        "description": "Requires webhooks:read.",
        "x-waaru-scope": "webhooks:read",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook": {
                      "type": ["object", "null"],
                      "description": "Callback URL, selected events, revision and delivery health. Never contains signing secrets or encrypted values."
                    }
                  },
                  "required": ["webhook"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "setWebhook",
        "summary": "set webhook",
        "description": "Requires webhooks:manage. Use null revision to create. Updates require current revision and resume the endpoint. A new signing secret is returned only upon creation.",
        "x-waaru-scope": "webhooks:manage",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook": {
                      "$ref": "#/components/schemas/WebhookSummary"
                    },
                    "signingSecret": {
                      "type": "string"
                    }
                  },
                  "required": ["webhook"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhook/rotate": {
      "post": {
        "operationId": "rotateWebhook",
        "summary": "rotate webhook",
        "description": "Requires webhooks:manage.",
        "x-waaru-scope": "webhooks:manage",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Revision"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "signingSecret": {
                      "type": "string"
                    },
                    "revision": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "previousSecretExpiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "signingSecret",
                    "revision",
                    "previousSecretExpiresAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhook/test": {
      "post": {
        "operationId": "testWebhook",
        "summary": "test webhook",
        "description": "Requires webhooks:manage.",
        "x-waaru-scope": "webhooks:manage",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Revision"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "delivered": {
                      "const": true
                    },
                    "eventId": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 191
                    }
                  },
                  "required": ["delivered", "eventId"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhook/state": {
      "post": {
        "operationId": "setWebhookState",
        "summary": "set webhook state",
        "description": "Requires webhooks:manage.",
        "x-waaru-scope": "webhooks:manage",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revision": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "state": {
                      "enum": ["ACTIVE", "DISABLED"]
                    }
                  },
                  "required": ["revision", "state"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "400 invalid input;401 missing/revoked key;403 insufficient scope;404 inaccessible resource;409 policy/revision conflict;422 unavailable Form or invalid launch inputs;429 safety limit;502 template provider unavailable;5xx temporary failure. Error responses contain public codes and fixed safe messages, never internal diagnostics. Honor Retry-After. Retry sends only with the same persisted idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "wak_ API key"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SendMessage": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "messaging_product": {
                "type": "string",
                "const": "whatsapp"
              },
              "recipient_type": {
                "type": "string",
                "const": "individual"
              },
              "to": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "const": "text"
              },
              "text": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  },
                  "preview_url": {
                    "type": "boolean"
                  }
                },
                "required": ["body"],
                "additionalProperties": false
              }
            },
            "required": ["messaging_product", "to", "type", "text"],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "messaging_product": {
                "type": "string",
                "const": "whatsapp"
              },
              "recipient_type": {
                "type": "string",
                "const": "individual"
              },
              "to": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "const": "template"
              },
              "templateFlowLaunch": {
                "type": "object",
                "properties": {
                  "buttonIndex": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9
                  },
                  "contractHash": {
                    "type": "string",
                    "pattern": "^[a-f0-9]{64}$"
                  },
                  "inputs": {
                    "default": {},
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "pattern": "^[A-Za-z][A-Za-z0-9_]{0,63}$"
                    },
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 4096
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "maxItems": 50,
                          "type": "array",
                          "items": {
                            "type": "string",
                            "maxLength": 4096
                          }
                        }
                      ]
                    }
                  }
                },
                "required": ["buttonIndex", "contractHash"],
                "additionalProperties": false
              },
              "template": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 512
                  },
                  "language": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 32
                      }
                    },
                    "required": ["code"],
                    "additionalProperties": false
                  },
                  "components": {
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "carousel"
                            },
                            "cards": {
                              "minItems": 2,
                              "maxItems": 10,
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "card_index": {
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9
                                  },
                                  "components": {
                                    "minItems": 1,
                                    "maxItems": 4,
                                    "type": "array",
                                    "items": {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "header"
                                            },
                                            "parameters": {
                                              "minItems": 1,
                                              "maxItems": 1,
                                              "type": "array",
                                              "items": {
                                                "anyOf": [
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "type": {
                                                        "type": "string",
                                                        "const": "image"
                                                      },
                                                      "image": {
                                                        "anyOf": [
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "link": {
                                                                "type": "string",
                                                                "maxLength": 2048
                                                              }
                                                            },
                                                            "required": [
                                                              "link"
                                                            ],
                                                            "additionalProperties": false
                                                          },
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "id": {
                                                                "type": "string",
                                                                "minLength": 1,
                                                                "maxLength": 256
                                                              }
                                                            },
                                                            "required": ["id"],
                                                            "additionalProperties": false
                                                          }
                                                        ]
                                                      }
                                                    },
                                                    "required": [
                                                      "type",
                                                      "image"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "type": {
                                                        "type": "string",
                                                        "const": "video"
                                                      },
                                                      "video": {
                                                        "anyOf": [
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "link": {
                                                                "type": "string",
                                                                "maxLength": 2048
                                                              }
                                                            },
                                                            "required": [
                                                              "link"
                                                            ],
                                                            "additionalProperties": false
                                                          },
                                                          {
                                                            "type": "object",
                                                            "properties": {
                                                              "id": {
                                                                "type": "string",
                                                                "minLength": 1,
                                                                "maxLength": 256
                                                              }
                                                            },
                                                            "required": ["id"],
                                                            "additionalProperties": false
                                                          }
                                                        ]
                                                      }
                                                    },
                                                    "required": [
                                                      "type",
                                                      "video"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "type": {
                                                        "type": "string",
                                                        "const": "product"
                                                      },
                                                      "product": {
                                                        "type": "object",
                                                        "properties": {
                                                          "catalog_id": {
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 128
                                                          },
                                                          "product_retailer_id": {
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 256
                                                          }
                                                        },
                                                        "required": [
                                                          "catalog_id",
                                                          "product_retailer_id"
                                                        ],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "required": [
                                                      "type",
                                                      "product"
                                                    ],
                                                    "additionalProperties": false
                                                  }
                                                ]
                                              }
                                            }
                                          },
                                          "required": ["type", "parameters"],
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "body"
                                            },
                                            "parameters": {
                                              "minItems": 1,
                                              "maxItems": 100,
                                              "type": "array",
                                              "items": {
                                                "oneOf": [
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "type": {
                                                        "type": "string",
                                                        "const": "text"
                                                      },
                                                      "text": {
                                                        "type": "string",
                                                        "minLength": 1,
                                                        "maxLength": 1024
                                                      },
                                                      "parameter_name": {
                                                        "type": "string",
                                                        "minLength": 1,
                                                        "maxLength": 128
                                                      }
                                                    },
                                                    "required": [
                                                      "type",
                                                      "text"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "type": {
                                                        "type": "string",
                                                        "const": "currency"
                                                      },
                                                      "currency": {
                                                        "type": "object",
                                                        "properties": {
                                                          "fallback_value": {
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 1024
                                                          },
                                                          "code": {
                                                            "type": "string",
                                                            "minLength": 3,
                                                            "maxLength": 3
                                                          },
                                                          "amount_1000": {
                                                            "type": "integer",
                                                            "minimum": -9007199254740991,
                                                            "maximum": 9007199254740991
                                                          }
                                                        },
                                                        "required": [
                                                          "fallback_value",
                                                          "code",
                                                          "amount_1000"
                                                        ],
                                                        "additionalProperties": false
                                                      },
                                                      "parameter_name": {
                                                        "type": "string",
                                                        "minLength": 1,
                                                        "maxLength": 128
                                                      }
                                                    },
                                                    "required": [
                                                      "type",
                                                      "currency"
                                                    ],
                                                    "additionalProperties": false
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "type": {
                                                        "type": "string",
                                                        "const": "date_time"
                                                      },
                                                      "date_time": {
                                                        "type": "object",
                                                        "properties": {
                                                          "fallback_value": {
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 1024
                                                          }
                                                        },
                                                        "required": [
                                                          "fallback_value"
                                                        ],
                                                        "additionalProperties": false
                                                      },
                                                      "parameter_name": {
                                                        "type": "string",
                                                        "minLength": 1,
                                                        "maxLength": 128
                                                      }
                                                    },
                                                    "required": [
                                                      "type",
                                                      "date_time"
                                                    ],
                                                    "additionalProperties": false
                                                  }
                                                ]
                                              }
                                            }
                                          },
                                          "required": ["type", "parameters"],
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "button"
                                            },
                                            "sub_type": {
                                              "type": "string",
                                              "const": "url"
                                            },
                                            "index": {
                                              "anyOf": [
                                                {
                                                  "type": "integer",
                                                  "minimum": 0,
                                                  "maximum": 1
                                                },
                                                {
                                                  "type": "string",
                                                  "pattern": "^[01]$"
                                                }
                                              ]
                                            },
                                            "parameters": {
                                              "minItems": 1,
                                              "maxItems": 1,
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "const": "text"
                                                  },
                                                  "text": {
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 1024
                                                  }
                                                },
                                                "required": ["type", "text"],
                                                "additionalProperties": false
                                              }
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "sub_type",
                                            "index",
                                            "parameters"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "button"
                                            },
                                            "sub_type": {
                                              "type": "string",
                                              "const": "quick_reply"
                                            },
                                            "index": {
                                              "anyOf": [
                                                {
                                                  "type": "integer",
                                                  "minimum": 0,
                                                  "maximum": 1
                                                },
                                                {
                                                  "type": "string",
                                                  "pattern": "^[01]$"
                                                }
                                              ]
                                            },
                                            "parameters": {
                                              "minItems": 1,
                                              "maxItems": 1,
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "const": "payload"
                                                  },
                                                  "payload": {
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 256
                                                  }
                                                },
                                                "required": ["type", "payload"],
                                                "additionalProperties": false
                                              }
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "sub_type",
                                            "index",
                                            "parameters"
                                          ],
                                          "additionalProperties": false
                                        }
                                      ]
                                    }
                                  }
                                },
                                "required": ["card_index", "components"],
                                "additionalProperties": false
                              }
                            }
                          },
                          "required": ["type", "cards"],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "header",
                                "body",
                                "button",
                                "limited_time_offer"
                              ]
                            },
                            "sub_type": {
                              "type": "string",
                              "enum": [
                                "quick_reply",
                                "url",
                                "copy_code",
                                "flow"
                              ]
                            },
                            "index": {
                              "type": "string",
                              "pattern": "^\\d{1,2}$"
                            },
                            "parameters": {
                              "maxItems": 100,
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "location"
                                      },
                                      "location": {
                                        "type": "object",
                                        "properties": {
                                          "latitude": {
                                            "anyOf": [
                                              {
                                                "type": "number"
                                              },
                                              {
                                                "type": "string",
                                                "pattern": "^-?(?:\\d+(?:\\.\\d+)?|\\.\\d+)$"
                                              }
                                            ]
                                          },
                                          "longitude": {
                                            "anyOf": [
                                              {
                                                "type": "number"
                                              },
                                              {
                                                "type": "string",
                                                "pattern": "^-?(?:\\d+(?:\\.\\d+)?|\\.\\d+)$"
                                              }
                                            ]
                                          },
                                          "name": {
                                            "type": "string",
                                            "maxLength": 1000
                                          },
                                          "address": {
                                            "type": "string",
                                            "maxLength": 1000
                                          }
                                        },
                                        "required": ["latitude", "longitude"],
[...]
